body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 720px;
    height: 720px;
    border: 3px solid black;
    margin: 20px auto;
}

.cell {
    width: 80px; /* Zellenbreite anpassen */
    height: 80px; /* Zellenhöhe anpassen */
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.cell:nth-child(3n+1) {
    border-left: 3px solid black;
}

.cell:nth-child(3n) {
    border-right: 3px solid black;
}

.cell:nth-child(-n+9) {
    border-top: 3px solid black;
}

.cell:nth-last-child(-n+9) {
    border-bottom: 3px solid black;
}

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54),
.cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 6px solid black;
}

.error {
    background-color: rgb(218, 66, 66); 
    color: white;          
}


.controls {
    display: flex;
    justify-content:space-around;
    gap: 10px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}